* {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

img{
    border-radius: 2px;
}

input{
    
    transition: background-color .4s ease-in-out;
}

input:focus {
    background-color: rgb(35, 35, 56);
    color: #fff;
    border-color: rgb(6, 6, 15);
    
    
}
input:focus::placeholder{
    color: white;
}