* {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

img{
    border-radius: 2px;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
    &:hover{
        
        transform: scale(1.1);
        cursor: pointer;
    }
}

input{
    transition: background-color .4s ease-in-out;
}

input:focus {
    background-color: $bg-input-color;
    color: $text-color;
    border-color: $border-input-color;
    
    
}
input:focus::placeholder{
    color: $text-color;
}